modules = ["nodejs-24", "postgresql-16"]

[env]
PATH = "/home/runner/workspace/.local/bin:/home/runner/workspace/.config/npm/node_global/bin:${PATH}"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["corepack", "pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "artifacts/arlo: web"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "artifacts/arlo"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/arlo run dev"
cwd = "./artifacts/arlo"
waitForPort = 22384
ensurePreviewReachable = "/"
router = "path"

[workflows.workflow.tasks.env]
PORT = "22384"
BASE_PATH = "/"

[[workflows.workflow]]
name = "artifacts/api-server: API Server"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "3B4_FFSkEVBkAeYMFRJ2e"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/api-server run dev"
cwd = "./artifacts/api-server"
waitForPort = 8080
ensurePreviewReachable = "/"
router = "path"

[workflows.workflow.tasks.env]
PORT = "8080"

[[workflows.workflow]]
name = "artifacts/mockup-sandbox: Component Preview Server"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "XegfDyZt7HqfW2Bb8Ghoy"
isCanvasWorkflow = true

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/mockup-sandbox run dev"
cwd = "./artifacts/mockup-sandbox"
waitForPort = 8081
ensurePreviewReachable = "/"
router = "path"

[workflows.workflow.tasks.env]
PORT = "8081"
BASE_PATH = "/__mockup"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 3000
externalPort = 3001

[[ports]]
localPort = 4173
externalPort = 3002

[[ports]]
localPort = 5173
externalPort = 5173
exposeLocalhost = true

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 18181
externalPort = 4200

[[ports]]
localPort = 22384
externalPort = 3000

[[ports]]
localPort = 28080
externalPort = 3003

[[ports]]
localPort = 31847
externalPort = 5000

[[ports]]
localPort = 31849
externalPort = 6000

[nix]
channel = "stable-25_05"
